In [1]:
def answer_one():
    import pandas as pd
    import numpy as np

    #one
    df = pd.read_excel('Energy Indicators.xls', skiprows = 17, skipfooter=38) #skip first 17 rows and last 38 rows

    df = df[['Unnamed: 1','Petajoules','Gigajoules','%']]

    df.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

    df[['Energy Supply', 'Energy Supply per Capita', '% Renewable']] = df[['Energy Supply', 'Energy Supply per Capita', '% Renewable']].replace('...',np.NaN).apply(pd.to_numeric)

    df['Energy Supply'] = df['Energy Supply']*1000000

    df['Country'] = df['Country'].replace({"Republic of Korea": "South Korea",
                                           "United States of America": "United States",
                                           "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                                           "China, Hong Kong Special Administrative Region": "Hong Kong"})

    df['Country'] = df['Country'].str.replace(" \(.*\)","")

    #two
    dp = pd.read_csv('world_bank.csv', skiprows = 4)

    dp['Country Name'] = dp['Country Name'].replace({"Korea, Rep.": "South Korea", 
                                                     "Iran, Islamic Rep.": "Iran",
                                                     "Hong Kong SAR, China": "Hong Kong"})

    dp = dp[['Country Name','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
    dp.columns = ['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']

    #three
    ds = pd.read_excel('scimagojr-3.xlsx')
    ds = ds[0:15]

    tmp = pd.merge(ds, df, how = 'inner', left_on = 'Country', right_on='Country')
    final = pd.merge(tmp, dp, how = 'inner', left_on = 'Country', right_on='Country').set_index('Country')
    
    return final

answer_one()

,Rank,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,,
China,1,Asiatic Region,235126,233883,1909601,1306438,8.12,224,1.271910e+11,93.0,...,2.752132e+12,3.550342e+12,4.594307e+12,5.101702e+12,6.087165e+12,7.551500e+12,8.532231e+12,9.570406e+12,1.047568e+13,1.106155e+13
United States,2,Northern America,157811,154288,1940563,639345,12.30,333,9.083800e+10,286.0,...,1.381461e+13,1.445186e+13,1.471284e+13,1.444893e+13,1.499205e+13,1.554258e+13,1.619701e+13,1.678485e+13,1.752175e+13,1.821930e+13
Japan,3,Asiatic Region,46032,45559,436961,109968,9.49,181,1.898400e+10,149.0,...,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.850414e+12,4.389476e+12
India,4,Asiatic Region,39893,38848,368175,123446,9.23,171,3.319500e+10,26.0,...,9.402599e+11,1.216735e+12,1.198896e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12
United Kingdom,5,Western Europe,38873,37780,536378,100038,13.80,208,7.920000e+09,124.0,...,2.713750e+12,3.100882e+12,2.922667e+12,2.410910e+12,2.475244e+12,2.659310e+12,2.704888e+12,2.786023e+12,3.063803e+12,2.928591e+12
Germany,6,Western Europe,32935,32227,367356,78265,11.15,186,1.326100e+10,165.0,...,2.992197e+12,3.421229e+12,3.730028e+12,3.397791e+12,3.396354e+12,3.744409e+12,3.527345e+12,3.732743e+12,3.883920e+12,3.360550e+12
Russian Federation,7,Eastern Europe,31880,31664,91906,42529,2.88,84,3.070900e+10,214.0,...,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.045926e+12,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12
Canada,8,Northern America,29633,29011,491467,88987,16.59,210,1.043100e+10,296.0,...,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613464e+12,1.788648e+12,1.828689e+12,1.847209e+12,1.803533e+12,1.556130e+12
Italy,9,Western Europe,23725,22819,312631,76446,13.18,155,6.530000e+09,109.0,...,1.947920e+12,2.210293e+12,2.398857e+12,2.191242e+12,2.134018e+12,2.291991e+12,2.087077e+12,2.141315e+12,2.159134e+12,1.835899e+12
South Korea,10,Asiatic Region,23451,23166,279709,53110,11.93,146,1.100700e+10,221.0,...,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
France,11,Western Europe,22429,21913,300015,58151,13.38,169,1.059700e+10,166.0,...,2.318594e+12,2.657213e+12,2.918383e+12,2.690222e+12,2.642610e+12,2.861408e+12,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12
Iran,12,Middle East,19371,19085,242250,77012,12.51,127,9.172000e+09,119.0,...,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,5.807649e+11,5.988685e+11,4.602931e+11,4.326870e+11,3.849515e+11
Spain,13,Western Europe,18882,18529,312632,56968,16.56,163,4.923000e+09,106.0,...,1.259344e+12,1.472131e+12,1.625225e+12,1.485583e+12,1.420722e+12,1.478773e+12,1.324820e+12,1.354757e+12,1.369399e+12,1.195119e+12
Australia,14,Pacific Region,18077,17661,263733,44799,14.59,161,5.386000e+09,231.0,...,7.460542e+11,8.530996e+11,1.053996e+12,9.278052e+11,1.146138e+12,1.396650e+12,1.546152e+12,1.576184e+12,1.467484e+12,1.351694e+12
Brazil,15,Latin America,18024,17745,152380,37112,8.45,121,1.214900e+10,59.0,...,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616201e+12,2.465189e+12,2.472807e+12,2.455994e+12,1.802214e+12

In [7]:
def answer_two():
    import pandas as pd
    import numpy as np

    #one
    df = pd.read_excel('Energy Indicators.xls', skiprows = 17, skipfooter=38) #skip first 17 rows and last 38 rows

    df = df[['Unnamed: 1','Petajoules','Gigajoules','%']]

    df.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

    df[['Energy Supply', 'Energy Supply per Capita', '% Renewable']] = df[['Energy Supply', 'Energy Supply per Capita', '% Renewable']].replace('...',np.NaN).apply(pd.to_numeric)

    df['Energy Supply'] = df['Energy Supply']*1000000

    df['Country'] = df['Country'].replace({"Republic of Korea": "South Korea",
                                           "United States of America": "United States",
                                           "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                                           "China, Hong Kong Special Administrative Region": "Hong Kong"})

    df['Country'] = df['Country'].str.replace(" \(.*\)","")

    #two
    dp = pd.read_csv('world_bank.csv', skiprows = 4)

    dp['Country Name'] = dp['Country Name'].replace({"Korea, Rep.": "South Korea", 
                                                     "Iran, Islamic Rep.": "Iran",
                                                     "Hong Kong SAR, China": "Hong Kong"})

    dp = dp[['Country Name','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
    dp.columns = ['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']

    #three
    ds = pd.read_excel('scimagojr-3.xlsx')

    tmp = pd.merge(ds, df, how = 'inner', left_on = 'Country', right_on='Country')
    final = pd.merge(tmp, dp, how = 'inner', left_on = 'Country', right_on='Country').set_index('Country')
    
    tmp1 = pd.merge(ds, df, how = 'outer', left_on = 'Country', right_on='Country')
    final1 = pd.merge(tmp1, dp, how = 'outer', left_on = 'Country', right_on='Country').set_index('Country')
    
    return len(final1)-len(final)

answer_two()

150

In [14]:
import pandas as pd
import numpy as np

def average(row):
    data = row[np.arange(2006, 2016).astype(str)]
    
    return pd.Series({'avgGDP' : np.mean(data)})

def answer_three():
    Top15 = answer_one()
    
    Top15 = Top15.apply(average, axis = 1)

    return Top15['avgGDP'].sort_values(ascending = False)

answer_three()

Country
United States         1.566858e+13
China                 6.927702e+12
Japan                 5.177131e+12
Germany               3.518657e+12
United Kingdom        2.776607e+12
France                2.687371e+12
Italy                 2.139775e+12
Brazil                1.988885e+12
Russian Federation    1.666746e+12
Canada                1.613835e+12
India                 1.602352e+12
Spain                 1.398587e+12
South Korea           1.221372e+12
Australia             1.206526e+12
Iran                  4.389286e+11
Name: avgGDP, dtype: float64

In [17]:
import pandas as pd
import numpy as np

def answer_four():
    Top15 = answer_one()
    average = answer_three().sort_values(ascending = False)
    country = average.index[5]
    
    return Top15.loc[country]['2015']-Top15.loc[country]['2006']

answer_four()

119614244263.37988

In [18]:
def answer_five():
    Top15 = answer_one()
    return Top15['Energy Supply per Capita'].mean()

answer_five()

157.6

In [19]:
def answer_six():
    Top15 = answer_one()
    
    country = Top15['% Renewable'].idxmax()
    
    return (country, Top15.loc[country]['% Renewable'])

answer_six()

('Brazil', 69.64803)

In [20]:
def answer_seven():
    Top15 = answer_one()
    
    new = Top15['Self-citations'] / Top15['Citations']
    country = new.idxmax()
    return (country, new.loc[country])

answer_seven()

('China', 0.6841418704745127)

In [22]:
def answer_eight():
    Top15 = answer_one()
    
    new = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    new = new.sort_values(ascending = False)
    return new.index[2]

answer_eight()

'United States'

In [23]:
def answer_nine():
    Top15 = answer_one()
    
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    
    ans = Top15['Citable docs per Capita'].corr(Top15['Energy Supply per Capita'])
    return ans

answer_nine()

0.7467513245295704

In [25]:
def answer_ten():
    Top15 = answer_one()
    
    new = Top15['% Renewable']
    HighRenew = new
    med = new.median()
    
    for i in range(len(new)):
        if new[i]>= med: HighRenew[i] = 1
        else: HighRenew[i] = 0
    
    return  HighRenew.astype(int).sort_values(ascending=True)

answer_ten()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

Country
United States         0
Japan                 0
India                 0
United Kingdom        0
South Korea           0
Iran                  0
Australia             0
China                 1
Germany               1
Russian Federation    1
Canada                1
Italy                 1
France                1
Spain                 1
Brazil                1
Name: % Renewable, dtype: int32

In [28]:
def answer_eleven():
    Top15 = answer_one()
    
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15 = Top15.reset_index()
    
    Top15['Continent'] = [ContinentDict[country] for country in Top15['Country']]
    Top15 = Top15.set_index('Continent')
    
    Top15 = Top15.groupby(level=0)['PopEst'].agg({'size': np.size, 'sum': np.sum, 'mean': np.mean,'std': np.std})           
    
    return Top15

answer_eleven()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

               size           sum          mean           std
Continent
Asia            5.0  2.898666e+09  5.797333e+08  6.790979e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America   2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America   1.0  2.059153e+08  2.059153e+08           NaN

In [29]:
def answer_thirteen():
    Top15 = answer_one()
    
    ans = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    ans = ans.apply('{:,}'.format)
        
    return ans

answer_thirteen()

Country
China                 1,367,645,161.29
United States           317,615,384.61
Japan                   127,409,395.97
India                 1,276,730,769.23
United Kingdom           63,870,967.74
Germany                  80,369,696.96
Russian Federation      143,500,000.00
Canada                   35,239,864.86
Italy                    59,908,256.88
South Korea              49,805,429.86
France                   63,837,349.39
Iran                     77,075,630.25
Spain                    46,443,396.22
Australia                23,316,017.31
Brazil                  205,915,254.23
dtype: object